@model IEnumerable<ExportExcel.Mvc.ViewModels.Relatorio46ViewModel>

<style>

    table
    {
        width:100%
    }


    .Titulo
    {
        background-color: #B0C4DE;
        text-align: center;
        vertical-align: middle;
       
    }

</style>

<p>
    <br />
    <a href="@Url.Action("ExportarExcel")" class="btn btn-success">Exportar excel</a>
</p>
<table class="table table-bordered table-responsive">
    <tr class="Titulo" >
        <th>
            @Html.DisplayNameFor(model => model.Registro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF_CNPJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proprietario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assunto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motivo)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Registro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF_CNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proprietario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assunto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>

        </tr>
    }

</table>
